[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn api:app --bind 0.0.0.0:$PORT --workers 4 --timeout 120"